[Unit]
Description=1Password Linux desktop client
Documentation=https://support.1password.com/
#Requisite=display-manager.service
After=graphical-session.target
#ConditionEnvironment=DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/1password
Restart=on-abnormal
RestartSec=5s
OOMPolicy=continue
KeyringMode=inherit

[Install]
WantedBy=graphical-session.target
